
@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main{
  animation: fadeIn 0.5s ease-in-out;
}


body{
  margin: 10px 20px 10px;
  background-color: grsay;
  border: 1px solid resd;
  font-family: Sans-serif;
}

hr{
  border-width:0;
  height: 1px;
  background-color:gray;
  opacity: .3;
  margin: 0 0 20px;
}
/*상태바*/
.state_bar {
  position: relative;
  padding: 0 0 20px;

}
.state_bar span{
  display: inline-block;
}
.state_bar .icon_bar{
  position: absolute;
  right: 0;
  display: inline-block;
}

/*친구바*/
.friend_bar{
  position: relative;

}
.friend_bar span{
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.friend_bar .friend_icon{
  position: absolute;
  right: 0;
  bottom:5px;
  display: inline-block;
}
.friend_bar .friend_icon a{
    color:black;
}

.friend_bar .friend_icon i{
  padding: 0 5px 0;

}

/*아이콘*/
.find_icon{
  padding: 30px 0 0;
}

.find_icon table{
    border-collapse: collapse;;
    width: 100%;
}
.find_icon th {
  height: 100px;
  width:25%;

}
.find_icon table i{
  padding-bottom: 2px;

}
.find_icon table span{
  font-size: 10px;
}
.find_icon table a{
  text-decoration: none;
  color: black;
  opacity: .9;
}

/* 친구 추천 */
.find_rec{
}
.find_rec > span{
  font-size: 13px;
  opacity: .5;
}
.find_rec ul {
  list-style-type: none;
  padding: 0 0 0;
}

.find_rec ul > li{
  margin: 20px 0 20px;
  padding: 0px 0 0px;
}
.find_rec ul > li .plus_contents{
  align-items: center;
  display: flex;
}
.find_rec ul > li .plus_contents img{
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin: 0 20px 0 0;
}
.find_rec ul > li .plus_contents span{
  font-size: 20px;
}
.find_rec ul > li .plus_contents i{
  padding: 10px 15px 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
  position: absolute;
  right: 30px;
}



























/*밑 메뉴바*/
@keyframes showbar {
  from{
    transform: translateY(80px);
  }
  to{
    transform: none;
  }

}
.foot_menu{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(80px);
  animation: showbar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

.foot_menu ul {
  padding: 0 40px 0;
  display: flex;
  justify-content: space-between;

}
.foot_menu ul > li{
  list-style-type : none;
}
.foot_menu ul > li a{
  color:black;
}
.fa{
  font-size: 20px;
}

/*창크기*/
@media screen and (min-width: 600px){
  .bigscrean{
    display: flex;
    padding: 0 0 0;
    margin: 0 0 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: powderblue;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 600px){
  .bigscrean span{
    display: none;
  }
  .bigscrean{
    display: none;
  }
}
